ARM/ProvisionGenie-CreateTaskList.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_ProvisionGenie_CreateTaskList_name": {
            "type": "string"
        },
        "userAssignedIdentities_ProvisionGenie_ManagedIdentity_name": {
            "type": "string"
        },
        "workflows_ProvisionGenie_CreateList_name": {
            "type": "string"
        },
        "resourceLocation": {
            "type": "string"
        },
        "subscriptionId": {
            "type": "string"
        },
        "resourceGroupName": {
            "type": "string"
        }
    },
    "functions": [],
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_ProvisionGenie_CreateTaskList_name')]",
            "location": "[parameters('resourceLocation')]",
            "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                    "[concat('/subscriptions/',parameters('subscriptionId'),'/resourcegroups/',parameters('resourceGroupName'),'/providers/Microsoft.ManagedIdentity/userAssignedIdentities/',parameters('userAssignedIdentities_ProvisionGenie_ManagedIdentity_name'))]": {}
                }
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "siteId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Response": {
                            "runAfter": {
                                "ProvisionGenie-CreateList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        },
                        "ProvisionGenie-CreateList": {
                            "runAfter": {
                                "listColumns": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "body": {
                                    "listColumns": "@variables('listColumns')",
                                    "listName": "Task List",
                                    "siteId": "@triggerBody()?['siteId']"
                                },
                                "host": {
                                    "triggerName": "manual",
                                    "workflow": {
                                        "id": "[resourceId('Microsoft.Logic/workflows', parameters('workflows_ProvisionGenie_CreateList_name'))]"
                                    }
                                }
                            }
                        },
                        "listColumns": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "listColumns",
                                        "type": "array",
                                        "value": [
                                            {
                                                "columnName": "Task Description",
                                                "columnType": "Multiline text",
                                                "columnvalues": null
                                            },
                                            {
                                                "columnName": "Start date",
                                                "columnType": "Date",
                                                "columnvalues": null
                                            },
                                            {
                                                "columnName": "Due date",
                                                "columnType": "Date",
                                                "columnvalues": null
                                            },
                                            {
                                                "columnName": "Assigned to",
                                                "columnType": "Person",
                                                "columnvalues": null
                                            },
                                            {
                                                "columnName": "Priority",
                                                "columnType": "Choice",
                                                "columnvalues": [
                                                    "Normal",
                                                    "High",
                                                    "Low"
                                                ]
                                            },
                                            {
                                                "columnName": "Status",
                                                "columnType": "Choice",
                                                "columnvalues": [
                                                    "Not started",
                                                    "In progress",
                                                    "Completed",
                                                    "Blocked"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ],
    "outputs": {}
}